---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Principal Frontend Engineer - 9one Life",
    description:
      "Aplicacion web realizada con el fin de ayudar a una empresa con el desplazamiento de sus pacientes a los hospitales en Estados Unidos, brindandoles una herramienta para agendar un vehiculo el cual los lleve hasta su destino de forma segura y rapida.",
  },
  {
    date: "Mayo 2024",
    title: "Prinicipal Fronend Engineer - Mi Portafolio",
    description:
      "Creacion de mi portafolio web donde dejo saber un poco sobre mi y mis proyectos. Utilizando Astro y Tailwindcss para la realizacion de este mismo.",
  },
  {
    date: "Marzo 2023",
    title: "Principal FullStack Engineer - Digital House",
    description:
      "Aplicacion web de alquiler de vehiculos en Medellin, Colombia.",
    link: "#",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
